Net "clk" LOC="B8";

Net "clk" IOSTANDARD = LVCMOS33;

## System level constraints
Net "clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD "sys_clk_pin" 20000 ps;

Net "stopped_led" LOC="C11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

#J2
	#From IO1 to IO10
	Net "read_addr[3]" LOC ="H14" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
	Net "read_addr[2]" LOC ="J13" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
	Net "read_addr[1]" LOC ="K13" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
	Net "read_addr[0]" LOC ="H11" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

#J3
	#From IO1 to IO10
	Net "read_data[0]" LOC ="D15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
	Net "read_data[1]" LOC ="G16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
	Net "read_data[2]" LOC ="J16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
	Net "read_data[3]" LOC ="K15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
	Net "read_data[4]" LOC ="C16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
	Net "read_data[5]" LOC ="G15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
	Net "read_data[6]" LOC ="H15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
	Net "read_data[7]" LOC ="K16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

#J5
	#IO1
	Net "stopped" LOC ="T13" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
	#IO2
	Net "start" LOC ="R11" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
	#IO3
	Net "is_dm_access" LOC ="T8" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;